body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
//main app component
.main {
  height: 100vh;
  padding: 10px;
}
.input-todo-wrap {
  width: 22%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between; 

  input {
    width: 200px;
    padding: 5px;
  }
  button {
    border-radius: 0;
  }
}
.todo-list {
  width: 35%;
  margin: 0 auto;

  p {
    text-align: center;
    color:grey;
  }

  ul {
    list-style-type: none;
    padding: 20px 10px;
    border: 1px solid rgb(194, 189, 189);

    li {
      background-color: pink;
      padding: 8px 5px;
      margin: 0 0 4px 0;
      border: 1.5px solid grey;
      
    }
  }
}

//header in the Title component
#header {
  width: 100%;
  text-align: center;
  color: #334;
}